<!DOCTYPE html>
<html>
<head>
    <title>Books</title>
</head>
<body>

    <a href="/my_borrows">My Borrowed Books</a><br><br>

    <h2>All Books</h2>

    <table border="1">
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Category</th>
            <th>Copies</th>
            <th>Action</th>
        </tr>

        {% for book in books %}
        <tr>
            <td>{{ book["name"] }}</td>
            <td>{{ book["author"] }}</td>
            <td>{{ book["publisher"] }}</td>
            <td>{{ book["category"] }}</td>
            <td>{{ book["copies"] }}</td>
            <td>
                {% if book["copies"] > 0 %}
                    <a href="/borrow/{{ book['id'] }}">Borrow</a>
                {% else %}
                    Out of stock
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
