{% extends "base.html" %}
{% block title %}Books{% endblock %}

{% block content %}

<div class="books-page">

    <!--  SEARCH BAR -->
    <div class="books-header">
        <input type="text" id="bookSearch" placeholder="Search books...">
    </div>

    <!-- BOOK GRID -->
    <div class="book-grid">

        {% for book in books %}
        <div class="book-card">

            <div class="book-icon">
                <i class="bi bi-book"></i>
            </div>

            <h3>{{ book["name"] }}</h3>
            <p class="book-author">{{ book["author"] }}</p>

            <p class="book-meta">{{ book["publisher"] }}</p>
            <p class="book-meta">{{ book["category"] }}</p>

            {% if book["copies"] > 0 %}
                <span class="badge available">Available</span>
            {% else %}
                <span class="badge issued">Not Available</span>
            {% endif %}

            {% if book["borrowed_count"] > 0 %}
                <p class="borrowed-count">
                    Borrowed: {{ book["borrowed_count"] }}
                </p>
            {% endif %}

            {% if book["copies"] > 0 and session.get("role") == "student" %}
                <a href="/borrow/{{ book['id'] }}" class="borrow-btn">
                    Borrow
                </a>
            {% endif %}

        </div>
        {% endfor %}

    </div>

</div>

{% endblock %}