<!DOCTYPE html>
<html>
<head>
    <title>Payment History</title>
</head>
<body>
    <h2>My Payment History</h2>

    <table border="1">
        <tr>
            <th>Amount</th>
            <th>Method</th>
            <th>Transaction ID</th>
            <th>Date</th>
            <th>Status</th>
        </tr>

        {% for p in payments %}
        <tr>
            <td>₹{{ p["amount"] }}</td>
            <td>{{ p["method"] }}</td>
            <td>{{ p["transaction_id"] }}</td>
            <td>{{ p["date"] }}</td>
            <td>{{ p["status"] }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="/books">Back</a>
</body>
</html>
