{% extends "base.html" %}

{% block title %}Razorpay Checkout{% endblock %}

{% block content %}
<h2>Pay Fine: ₹{{ amount }}</h2>

<button id="pay-btn">Pay Now</button>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
    var options = {
        "key": "{{ key }}",
        "amount": "{{ amount * 100 }}",
        "currency": "INR",
        "name": "Library System",
        "description": "Fine Payment",
        "order_id": "{{ order_id }}",
        "handler": function (response){
            var form = document.createElement('form');
            form.method = 'POST';
            form.action = '/verify_payment';

            var fields = {
                razorpay_payment_id: response.razorpay_payment_id,
                razorpay_order_id: response.razorpay_order_id,
                razorpay_signature: response.razorpay_signature,
                borrow_id: "{{ borrow_id }}"
            };

            for (var key in fields) {
                var input = document.createElement('input');
                input.type = 'hidden';
                input.name = key;
                input.value = fields[key];
                form.appendChild(input);
            }

            document.body.appendChild(form);
            form.submit();
        }
    };

    var rzp1 = new Razorpay(options);
    document.getElementById('pay-btn').onclick = function(e){
        rzp1.open();
        e.preventDefault();
    }
</script>
{% endblock %}
